html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-layout {
  flex: 1 0 auto;
}

.footer {
  padding: 1rem;
  flex-shrink: 0;
  background-color: transparent;
  margin-top: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 15px;
  padding-bottom: 0;
}

.attribute-list {
  display: flex;
  flex-wrap: wrap;
}

header.level {
  margin-bottom: 15px !important;
}

.dropdown-content .tag {
  cursor: pointer;
}

.dropdown-content {
  max-height: 22vh;
  overflow-y: scroll;
}

.table-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.table-header {
  text-align: center;
}

.result-table {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  padding: 0.75rem 1rem 0.75rem 1.5rem;
  padding-left: 1.5rem;
  margin: 0 0.5rem 1.25rem 0.5rem;
}

.result-table__row {
  position: relative;
  padding: 0.25rem;
  border-bottom: 1px solid #cac7c7;
}

.key-icon {
  position: absolute;
  top: 0.5rem;
  left: -1rem;
}

.m-xxs {
  margin: 0.125rem;
}
.p-xxs {
  padding: 0.125rem;
}
.m-t-xxs {
  margin-top: 0.125rem;
}
.p-t-xxs {
  padding-top: 0.125rem;
}
.m-r-xxs {
  margin-right: 0.125rem;
}
.p-r-xxs {
  padding-right: 0.125rem;
}
.m-b-xxs {
  margin-bottom: 0.125rem;
}
.p-b-xxs {
  padding-bottom: 0.125rem;
}
.m-l-xxs {
  margin-left: 0.125rem;
}
.p-l-xxs {
  padding-left: 0.125rem;
}
.m-xs {
  margin: 0.25rem;
}
.p-xs {
  padding: 0.25rem;
}
.m-t-xs {
  margin-top: 0.25rem;
}
.p-t-xs {
  padding-top: 0.25rem;
}
.m-r-xs {
  margin-right: 0.25rem;
}
.p-r-xs {
  padding-right: 0.25rem;
}
.m-b-xs {
  margin-bottom: 0.25rem;
}
.p-b-xs {
  padding-bottom: 0.25rem;
}
.m-l-xs {
  margin-left: 0.25rem;
}
.p-l-xs {
  padding-left: 0.25rem;
}
.m-sm {
  margin: 0.5rem;
}
.p-sm {
  padding: 0.5rem;
}
.m-t-sm {
  margin-top: 0.5rem;
}
.p-t-sm {
  padding-top: 0.5rem;
}
.m-r-sm {
  margin-right: 0.5rem;
}
.p-r-sm {
  padding-right: 0.5rem;
}
.m-b-sm {
  margin-bottom: 0.5rem;
}
.p-b-sm {
  padding-bottom: 0.5rem;
}
.m-l-sm {
  margin-left: 0.5rem;
}
.p-l-sm {
  padding-left: 0.5rem;
}
.m-md {
  margin: 1rem;
}
.p-md {
  padding: 1rem;
}
.m-t-md {
  margin-top: 1rem;
}
.p-t-md {
  padding-top: 1rem;
}
.m-r-md {
  margin-right: 1rem;
}
.p-r-md {
  padding-right: 1rem;
}
.m-b-md {
  margin-bottom: 1rem;
}
.p-b-md {
  padding-bottom: 1rem;
}
.m-l-md {
  margin-left: 1rem;
}
.p-l-md {
  padding-left: 1rem;
}
